<%- include('header') %>
<main>
  <h2>Tentang Proyek Ini</h2>
  <article>
    <p>Website ini dibuat oleh Adinugraha, salah satu peserta tunanetra TOT Javascript Training yang diselenggarakan
      di Yayasan Mitra Netra.</p>
    <p>
      <strong>Fitur: </strong>
    <ul>
      <li>Support text Quran dengan script Utsmani dan standarKemenag.</li>
      <li>Penulisan bentuk mad mengikuti ketentuan penulisan Braille di Indonesia.</li>
      <li>Deteksi huruf alif wassal pada Quran Kemenag untuk menghindari kesalahan penulisan bentuk mad.</li>
      <li>Untuk Quran standar Kemenag, huruf alif yang diberi tanda harakat akan diubah menjadi Hamzah 'alal alif
        dengan harakat, mengikuti aturan baku tulisan arab. </li>
    </ul>
    </p>
    <p>
      <strong>Catatan: </strong>
    <ul>
      <li>Belum support tanda Waqaf.</li>
      <li>Masih terdapat beberapa simbol yang belum terdata.</li>
      <li>Simbol yang tidak terdata akan ditampilkan sebagaimana bentuk aslinya.</li>
      <li>Jika dinilai potensial, proyek ini akan terus dikembangkan, baik dalam bentuk website, atau bentuk
        program lainnya.</li>
    </ul>
    </p>
  </article>
</main>
<%- include('footer') %>