<footer>
  <div>Created by Adinugraha, a blind developer.</div>
  <div>m.adinugraha.ug@gmail.com</div>
  <div>Jakarta, Indonesia.</div>
</footer>
</div>

</body>
<script src="assets/js/arToBraille.js"></script>

</html>