<%- include('header') %>
<main>
	<div class="container-home">
		<div class="arab">
			<textarea id="text-input" placeholder="Masukkan teks Arab di sini"></textarea>
		</div>
		<div class="button">
			<input id="convert-button" type="button" value="Convert!">
		</div>
		<div class="braille" id="braille" tabindex="0">Tekan tombol Convert untuk mengkonversi</div>
	</div>
	<div class="bugs-form">
		<h3>Laporkan Kesalahan</h3>
		<p>Jika Anda menemukan Kesalahan, mohon kirimkan dengan menisi kolom dibawah ini.</p>
		<form id="bug" action="/api/bugs" method="POST">
			<div>
				<label for="error">Apa yang salah?</label>
				<input type="text" id="error" placeholder="ال" name="error">
			</div>
			<div>
				<label for="comment">Bagaimana seharusnya?</label>
				<input type="text" id="comment" placeholder="bukan dot1dot123, tapi seharusnya dot1236" name="comment">
			</div>
			<input type="submit" id="sendBtn" value="Kirim">
			<input type="reset" value="Reset">
		</form>
	</div>
</main>
<%- include('footer') %>